<voo-cabecalho titulo="Sistema de Busca de Voos" subtitulo="Consultar detalhes do Voo"
                    informacoes="Consulte aqui detalhes do aeroporto de origem e destino do voo">
</voo-cabecalho>

<p ng-show="mensagem.length" class="alert alert-danger">
    {{mensagem}}
</p>

<ul class="nav nav-tabs">
    <li class=""><a data-toggle="tab" ng-href="{{url}}#/voos/{{voo.id}}/horarios">Horários</a></li>
    <li class="active"><a data-toggle="tab" ng-href="{{url}}#/voos/{{voo.id}}/rota">Rota do Voo</a></li>
    <li class=""><a data-toggle="tab" ng-href="{{url}}#/voos/{{voo.id}}/piloto">Piloto</a></li>
    <li class=""><a data-toggle="tab" ng-href="{{url}}#/voos/{{voo.id}}/aeronave">Aeronave</a></li>
</ul>

<br>
<div class="row">
    <div class="panel-group">
        <div class="form-group col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Aeroporto de Origem</div>
                <div class="panel-body">

                  <div class="form-group col-md-12">
                      <label for="aeroportoOrigem">Nome do Aeroporto</label>
                      <input type="text" id="aeroportoOrigem" class="form-control" value="{{voo.origem.nome}}" disabled>
                  </div>

                  <div class="form-group col-md-6">
                      <label for="iataOrigem">IATA</label>
                      <input type="text" id="iataOrigem" class="form-control" value="{{voo.origem.iata}}" disabled>
                  </div>

                  <div class="form-group col-md-6">
                      <label for="icaoOrigem">ICAO</label>
                      <input type="text" id="icaoOrigem" class="form-control" value="{{voo.origem.icao}}" disabled>
                  </div>

                  <div class="form-group col-md-6">
                      <label for="cidadeOrigem">Cidade</label>
                      <input type="text" id="cidadeOrigem" class="form-control" value="{{voo.origem.cidade}}" disabled>
                  </div>

                  <div class="form-group col-md-6">
                      <label for="ufOrigem">UF</label>
                      <input type="text" id="ufOrigem" class="form-control" value="{{voo.origem.uf}}" disabled>
                  </div>

                  <div class="form-group col-md-6">
                      <label for="paisOrigem">Pais</label>
                      <input type="text" id="paisOrigem" class="form-control" value="{{voo.origem.pais}}" disabled>
                  </div>

                  <div class="form-group col-md-6">
                      <label for="utcOrigem">UTC</label>
                      <input type="text" id="utcOrigem" class="form-control" value="{{voo.origem.utc}}" disabled>
                  </div>

                </div>
            </div>
        </div> <!-- origem -->
        <div class="form-group col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Aeroporto de Destino</div>
                <div class="panel-body">

                  <div class="form-group col-md-12">
                      <label for="aeroportoDestino">Nome do Aeroporto</label>
                      <input type="text" id="aeroportoDestino" class="form-control" value="{{voo.destino.nome}}" disabled>
                  </div>

                  <div class="form-group col-md-6">
                      <label for="iataDestino">IATA</label>
                      <input type="text" id="iataDestino" class="form-control" value="{{voo.destino.iata}}" disabled>
                  </div>

                  <div class="form-group col-md-6">
                      <label for="icaoDestino">ICAO</label>
                      <input type="text" id="icaoDestino" class="form-control" value="{{voo.destino.icao}}" disabled>
                  </div>

                  <div class="form-group col-md-6">
                      <label for="cidadeDestino">Cidade</label>
                      <input type="text" id="cidadeDestino" class="form-control" value="{{voo.destino.cidade}}" disabled>
                  </div>

                  <div class="form-group col-md-6">
                      <label for="ufDestino">UF</label>
                      <input type="text" id="ufDestino" class="form-control" value="{{voo.destino.uf}}" disabled>
                  </div>

                  <div class="form-group col-md-6">
                      <label for="paisDestino">Pais</label>
                      <input type="text" id="paisDestino" class="form-control" value="{{voo.destino.pais}}" disabled>
                  </div>

                  <div class="form-group col-md-6">
                      <label for="utcDestino">UTC</label>
                      <input type="text" id="utcDestino" class="form-control" value="{{voo.destino.utc}}" disabled>
                  </div>

                </div>
            </div>
        </div><!-- destino -->
    </div>
</div>
