<voo-cabecalho titulo="Sistema de Busca de Voos" subtitulo="Aeroportos cadastrados"
                    informacoes="Lista dos aeroportos cadastrados no sistemaa">
</voo-cabecalho>

<p ng-show="mensagem.length" class="alert alert-danger">
    {{mensagem}}
</p>

<div class="row">
      <div class="form-group">
          <input type="text" class="form-control" placeholder="Filtrar..." ng-model="filtro">
      </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
            	<th>IATA</th>
            	<th>ICAO</th>
            	<th>Nome</th>
            	<th>Cidade</th>
            	<th>UF</th>
            	<th>Pais</th>
            	<th>UTC</th>
            	<th>Latitude</th>
            	<th>Longitude</th>
            </tr>
          </thead>
          <tbody >
            <tr ng-repeat="aeroporto in aeroportos | filter: filtro">
              <td>{{aeroporto.iata}}</td>
              <td>{{aeroporto.icao}}</td>
              <td>{{aeroporto.nome}}</td>
              <td>{{aeroporto.cidade}}</td>
              <td>{{aeroporto.uf}}</td>
              <td>{{aeroporto.pais}}</td>
              <td>{{aeroporto.utc}}</td>
              <td>{{aeroporto.latitude}}</td>
              <td>{{aeroporto.longitude}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
