<voo-cabecalho titulo="Sistema de Busca de Voos" subtitulo="Pilotos cadastrados"
                    informacoes="Lista dos pilotos cadastrados no sistemaa">
</voo-cabecalho>

<p ng-show="mensagem.length" class="alert alert-danger">
    {{mensagem}}
</p>

<div class="row">
      <div class="form-group">
          <input type="text" class="form-control" placeholder="Filtrar..." ng-model="filtro">
      </div>
</div>

<hr>
<div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Documento</th>
              <th>CMA</th>
              <th>Horas de Voo</th>
            </tr>
          </thead>
          <tbody >
            <tr ng-repeat="piloto in pilotos | filter: filtro">
              <td>{{piloto.nome}}</td>
              <td>{{piloto.documento}}</td>
              <td>{{piloto.cma}}</td>
              <td>{{piloto.horasDeVoo}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
